{
   "semi": false,
   "singleQuote": true,
   "tabWidth": 3,
   "endOfLine": "auto",
   "plugins": [
      "prettier-plugin-organize-imports",
      "prettier-plugin-tailwindcss"
   ],
   "trailingComma": "all"
}
